imap_server: "imap.server.net"
imap_user: 'marco@test.me'
imap_pass: "xxxxxxxxxxxxx"
imap_ssl: 0
imap_port: 0
rt_url: http://localhost/rt
rt_user: pinco
rt_password: pallino
teamwork_api_key: xxxxxxx
teamwork_host: myhost.no.proto
